apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.postgresql.serviceName }}
  labels:
    app: {{ .Values.postgresql.serviceName }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.postgresql.serviceName }}
  template:
    metadata:
      labels:
        app: {{ .Values.postgresql.serviceName }}
    spec:
      containers:
        - name: postgresql
          image: {{ .Values.postgresql.image }}
          ports:
            - containerPort: {{ .Values.postgresql.port }}
          env:
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: postgresql-config
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: postgresql-config
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: postgresql-config
                  key: POSTGRES_DB
          volumeMounts:
            - name: postgresql-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgresql-storage
          persistentVolumeClaim:
            claimName: postgresql-pvc