apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
spec:
  replicas: {{ .Values.app.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
      containers:
        - name: backend
          image: {{ .Values.image.backendRepository }}:{{ .Values.image.backendTag }}
          ports:
            - containerPort: 8000
              name: backend
          env:
            - name: FLASK_APP
              value: app.py
            - name: PYTHONUNBUFFERED
              value: "1"
        - name: frontend
          image: {{ .Values.image.frontendRepository }}:{{ .Values.image.frontendTag }}
          ports:
            - containerPort: 8080
              name: frontend