apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.app.name }}
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.ingress.certIssuer }}
    traefik.ingress.kubernetes.io/rewrite-target: /api
spec:
  ingressClassName: traefik
  rules:
    - host: {{ .Values.domain }}
      http:
        paths:
          - path: /backend
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.app.name }}
                port:
                  number: 8000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.app.name }}
                port:
                  number: 8080
  tls:
    - hosts:
        - {{ .Values.domain }}
      secretName: {{ .Values.app.name }}-tls