apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: backend
      protocol: TCP
      name: backend
    - port: 8080
      targetPort: frontend
      protocol: TCP
      name: frontend
  selector:
    app: {{ .Values.app.name }}